.breadcrum{
    margin-top: 32px;
    background-image: url(../../../public/images/productbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #d7b56d;
    padding: 80px 0px;
    a {
        text-decoration: none;
        color: #d7b56d;
    }
}