.breadcrumb {
    margin-top: 32px;
    background-image: url(../../../public/images/productbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .content {
        padding: 80px 0px;
        color: #d7b56d;
        a {
            text-decoration: none;
            color: #d7b56d;
        }
    }
}

.cart-section {
    margin: 35px;

    a {
        text-decoration: none;
    }
    .mob-card{
        @media(max-width:767px){
            width: 100% !important;
        }
.box-head-mob{
    @media(max-width: 767px){
        display: block !important;
    }
    .box-p-mob{
        @media(max-width: 767px){
            margin-top: 15px;
        }
    }
}
    .payment-section {
        background-color: rgb(116, 172, 116);
        color: black;
    }
    .content-box-mob{
        @media(max-width:767px){
            display: block !important;
        }
    .productcart-image {
        width: 85px !important;
        height: auto;
    }
    .product-quantity{
   display: flex;
   border: 1px solid #000;
   border-radius: 5px;
   padding: 7px;
   margin-right: 20px;
   .before-img{
    width: 10px !important;
   
   }
   .after-img{
    width: 10px !important;
    height: 15px !important;
    margin-top: 5px;
   }
    }
}
    }
    .chckout-div{
       
        p{
            font-weight: 600;
        }
    }
}

